.main-header{
    background-color: #1d2327;
    height: 32px;
    width: 100%;
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 6px;
    color: #9ba2a6;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI';
    font-size: 13px;

}
.sub-header{
    display: flex;
    color: #9ba2a6;

}
.header-list{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -7px;
}
.header-list:hover{
    background-color: #2c3338;
    color: #72aee6;
    margin-bottom: -5px;
}
.header-list:active{
    background-color: #2c3338;
    color: #72aee6;
}
.header-list-1{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -7px;
}
.header-list-1:hover{
    background-color: #2c3338;
    color: #72aee6;
    margin-bottom: -5px;
}
/* HEADER-LIST */
.header-list-2{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -7px;
}
.header-list-2:hover{
    background-color: #2c3338;
    color: #72aee6;
}
/* HEADER-LIST-3 */
.header-list-3{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -7px;
}
.header-list-3:hover{
    background-color: #2c3338;
    color: #72aee6;
}
.header-list-4{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -7px;
}
.header-list-4:hover{
    background-color: #2c3338;
    color: #72aee6;
    margin-bottom: -5px;
}

/* sub-menu */
.header-list ul{
    background-color:  #2c3338;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-left: -12px;
    width: 159px;
    padding-bottom: 10px;
    visibility: hidden;
}
.header-list:hover > ul{
    visibility: visible;
}
.header-list ul li{
    padding-left: 10px;
    padding-top: 10px;
}
.header-list ul li a{
    color:  #9ba2a6;
}
/* Sub menu-2 */
.header-list-1 ul{
    background-color:  #2c3338;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    margin-left: -8px;
    width: 159px;
    padding-bottom: 10px;
    visibility: hidden;
}
.header-list-1:hover > ul{
    visibility: visible;
}
.header-list-1 ul li{
    padding-left: 10px;
    padding-top: 10px;
}
.header-list-1 ul li a{
    color:  #9ba2a6;
}
.header-list-1 ul li a:hover{
    color: #72aee6;
}
/* SUB-MENU-4 */
.header-list-4 ul{
    background-color:  #2c3338;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    margin-left: -8px;
    width: 159px;
    padding-bottom: 10px;
    visibility: hidden;
}
.header-list-4:hover > ul{
    visibility: visible;
}
.header-list-4 ul li{
    padding-left: 10px;
    padding-top: 10px;
}
.header-list-4 ul li a{
    color:  #9ba2a6;
}
.header-list-4 ul li a:hover{
    color: #72aee6;
}

/* sub-menu ends */

/* .header-list a{
    color: #9ba2a6;
} */
.header-list a:hover{
    color: #72aee6;
} 
.header-span{
    margin-left: 5px;
    position: relative;
    top: -3px;
}
.h-icon{
 width: 15px;
 height: 15px;
 margin-top: 2px;
 
}
#special{
    width: 20px;
    height:25px ;
    margin-top: -4px;
}
#special-1{
    width: 20px;
    height: 20px;
   margin-top: -1px;
    
}
.s-icon{
    margin-top: 4px;
}
/* section-2 */
.sub-header-2{
    display: flex;
    font-family: 'Segoe UI';
    font-size: 13px;
    color: white;
}
.span-2{
    width: 30px;
    height: 30px;
    background-color: #515151;
    padding-left: 4px;
    padding-right: 4px;
}
.span-2:hover{
    background-color: #cccccc;
    color: #515151;
}
#span-ms{
    width: 10px;
    height: 10px;
    color: #b7b7b8;
}
#span-ms:hover{
    color: #555555;
}
.header-listB{
    padding: 6px;
    margin-top: -5px;
}
.header-listB:hover{
    background-color: #2c3338;
}
.header-listBi{
    padding: 6px;
    margin-top: -5px;
}
.header-listBi:hover{
    background-color: #2c3338;
}

.span-3:hover{
    color: #72aee6;
}
.logo{
    width: auto;
    height: 16px;
    position: relative;
    top: 2px;
    padding-left: 5px;
}
@media screen and (max-width: 505px){
    .desktop-menu{
        display: none;
    }
}
/* section-2 end */