body{
background-color: #f0f0f1;
color: black;
list-style: none;
font-family: 'Segoe UI';
padding-bottom: 40px;
}
.main{
    display: flex;
}
.main-body{
    padding-left: 180px;
    padding-right: 20px;
    padding-top: 40px;
    width: 100%;
}
.main-1{
    float: right;
}

.main-button-1{
    color: #646970;
    background-color: white;
    height: 30px;
    padding-left: 16px;
    padding-right: 6px;
    margin-right: 5px;
    border: 1px solid #c3c4c7;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.main-button-2{
    color: #646970;
    background-color: white;
    height: 30px;
    padding-left: 16px;
    padding-right: 6px;
    border: 1px solid #c3c4c7;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* menu-2 */
.main-2{
    display: flex;
    justify-content: space-between; 
    background-color: white;
    background-image: url(../pictures/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 5px solid #069e08;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.menu-2a{
    padding-left: 12px;
}
.space{
    display: flex;
}
.jet{
    width: 42px;
    height: 42px;
}
.menu-2-head{
    font-weight: 700;
    font-size: 16px;
    
}
.menu-2-p{
    font-size: 14px;
    margin-top: 5px;
}
.menu-2-b{
    display: flex;
}
.menu-2btn{
 min-width: 120px;
 display: inline-block;
 padding: 12px;
 font-size: 14px;
 font-weight: 600;
 cursor: pointer;
}
.menu2-times{
    margin-top: 12px;
    color: #6f6f6f;
}
.bot{
    padding-right: 10px;
}
/* menu-3 */
.menu-3{
    margin-top: 30px;
}
.menu-3 h1{
    font-size: 23px;
    font-weight: 400;
}
.menu-3-1{
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 5px solid rgb(219, 166, 23);
    font-size: 13px;
    margin-top: 12px;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.menu-3-1 p{
    color: #3c434a;
}
.menu-3-1 p a{
    background-color: #2271b1;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 3px;
    color: white;
    margin-left: 10px;
}
/* menu-4 */
.menu-4{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    display: flex;
    font-size: 13px;
    background-color: white;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.element{
    width: 72px;
    height: 72px;
}
.menu-4a p{
    padding-left: 16px;
    line-height: 20px;
    color: #3c434a;
}
.menu-4-link{
    display: flex;
}
.menu-4-link li{
    padding-left: 15px;
    font-size: 13px;
    color: #10738b;;
}
.icon-4{
    font-size: 20px;
    margin-bottom: -5px;
    padding-right: 5px;
}
/* menu-5 */
.menu-5{
    padding-right: 15px;
    padding-top: 15px;
    margin-top: 15px;
    border-left: 5px solid #93003c;
    background-color: white;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    display: flex;
}
.menu-5a{
    padding-left: 20px;
}
.aside-5{
    background-color: #fbf5f7;
    margin-top: -15px;
    padding-top: 15px;
    height: 120px;
    padding-left: 12px;
    padding-right: 12px;
}
.aside-icon{
    background-color: white;
    color: #93003c;
    font-size: 24px;
    border-radius: 100px;
}
.menu-5a h3{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}
.menu-5a p{
 font-size: 13px;
 margin-top: 7px;
}
.menu-5a p a{
    color: #10738b;
    text-decoration: underline;
}
.m-span-1{
    background-color: #93003c;
    font-size: 13px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
}
.m-span-2{
    color: #93003c;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #93003c;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 7px;
}
.menu-5-span{
    margin-top: 10px;
}
.times-5{
    /* padding-left: 200px; */
    font-weight: 200;
    width: 20%;
}
.span-times{
    float: right;
}
/* menu-6 */
.menu-6{
    border-left: 5px solid #c3c4c7;
    background-color: white;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-top: 24px;
    font-size: 13px;
    color: #3c434a;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}
.menu-img{
    width: 90px;
    height: 90px;
}
.m-span-6{
    background-color: #2271b1;
    font-size: 13px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
}
.span-6{
    padding-left: 10px;
    color: #2271b1;
}
.icon-5{
    font-size: 20px;
    margin-bottom: -5px;
    padding-right: 5px;
    color: black;
}
.menu-6a{
    padding-left: 20px;
}
.menu-6ai{
    margin-top: 10px;
}
.p-menu{
    margin-top: 5px;
}
.icon-6{
    font-size: 20px;
    margin-bottom: -5px;
    padding-right: 5px;
    color: #3c434a;
}
.icon-6:hover{
    color: red;
}
/* menu-7 */
.menu-7{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu-7a{
    border-left: 1px solid #c3c4c7;
    background-color: white;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    width: 49.5%;
    padding-bottom:50px;
}
.menu-7b{
    border-left: 1px solid #c3c4c7;
    background-color: white;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
    border-top: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    width: 49.5%;
    height: fit-content;
}
.menu-7ai{
    border-bottom: 1px solid #c3c4c7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-7a0{
    display: flex;
    justify-content: space-between;
}
.menu-7aii{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
    padding-bottom: 10px;
    box-shadow:rgba(0, 0, 0, 0.05) 0px 5px 8px 0px ;
}
.menu-7aii0{
    display: flex;
    justify-content: space-between;
}
.menu-7aiib{
    display: flex;
}
.menu7-icon{
    color: #93003c;
    display: inline-block;
    font-size: 34px;
}
.menu-7-p{
    font-size: 13px;
    font-family: 'Segoe UI';
    color: #3c434a;
    padding-left: 10px;
}
.span-7 a{
    background-color: #f6f7f7;
    font-size: 13px;
    font-weight: 500;
    color: #2271b1;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid #2271b1;
}
.menu-plus{
    display: inline-block;
    color: #3c434a;
    margin-bottom: -3px;
    font-size: 16px;
    padding-right: 4px;
}
.menu-7aiii{
    border-bottom: 1px solid #c3c4c7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h4{
    font-size: 14px;
    font-weight: 600;
    cursor: move;
    color: rgb(29, 35, 39);
}
/* part d */
.menu-7ad{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
}
.menu-7-list{
font-size: 13px;
}
.menu-7-list li a{
    color: #10738b;
}
.list7-icon{
    margin-top: -5px;
    display: inline-block;
    color: #3c434a;
}
.list7-span{
    padding-left: 5px;
}
.menu-7ae{
    padding: 10px;
    border-bottom: 1px solid #c3c4c7;
    margin-top: 10px;
}
/* part e */
.menu-7af{
    padding: 10px;
}
.menu-7f-list li a{
    font-size: 14px;
    font-weight: 500;
    color: #2271b1;
}
.menu-7f-list li{
    margin-top: 20px;
}
.new{
    background-color: #39b54a;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.p-list-7{
    margin-top: 10px;
    font-size: 13px;
    color: #3c434a;
    line-height: 20px;
    font-weight: 500;
}
.menu-7bi{
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #646970;
}
.title input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 4px;
    border:0.5px solid rgb(140, 143, 148);
    margin-top: 5px;
}
.title{
    margin-top: 12px;
}
.title-1{
    margin-top: 12px;
}

.title-1 textarea{
    width: 100%;
    height: 90px;
    background-color: transparent;
    border-radius: 4px;
    border:0.5px solid rgb(140, 143, 148);
    padding-left: 10px;
    padding-top: 5px;
    color: #646970;
    margin-top: 5px;
}
.title-1 button{
    padding: 5px 10px 5px 10px;
    background-color: #2271b1;
    border: 1px solid rgb(34, 113, 177);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
@media screen and (max-width: 990px){
    .main-body{
        padding-left: 60px;
    }
    .times-5{
        /* padding-left: 200px; */
        font-weight: 200;
        width: 20%;
    }
    
}
@media screen and (max-width: 505px){
    @media screen and (max-width: 505px){
        .main-body{
        padding-top: 45px;
        padding-left: 20px;
        }
        .menu-3-1 p a{
            display: block;
            margin-left: 0;
            width: fit-content;
            margin-top: 3px;
            padding-bottom: 8px;
        }
        .menu-2btn{
            min-width: 90px;
            font-size: 9.5px;
        }
        .menu-2-head{
            font-size: 12px;
        }
        .menu-2-p{
            font-size: 10px;
        }
        .menu-3 h1{
            font-size: 20px;
        }
        .menu-3-1{
            font-size: 10px;
        }
        .menu-4{
            font-size: 10px;
            padding-left: 9px;
        }
        .element{
            width: 64px;
            height: 64px;
        }
        .menu-4a p{
            padding-left: 5px;
            font-size: 9.5px;
        }
        .menu-4-link li{
            font-size: 9.5px;
            padding-left: 5px;
        }
        .menu-5a h3{
            font-size: 13px;
        }
        .menu-5a p{
            font-size: 10px;
        }
        .m-span-1{
            font-size: 10px;
        }
        .m-span-2{
            font-size: 10px;
        }
        .menu-img{
            width: 80px;
            height: 80px;
        }
        .menu-6a{
            padding-left: 1px;
        }
        .menu-6{
            font-size: 9.5px;
        }
        .m-span-6{
            font-size: 9.5px;
        }
        .menu-7{
            display: block;
        }
        .menu-7a{
            width: 100%;
        }
        .menu-7b{
            width: 100%;
            margin-top: 20px;
        }
        .p-list-7{
            font-size: 10px;
        }
        .menu-7f-list li a{
            font-size: 11px;
        }
        .menu-7-p{
            font-size: 10px;
        }
        .span-7 a{
            font-size: 10px;
        }
        .menu-7-list{
            font-size: 10px;
        }
        .new{
            font-size: 11px;
        }
        .menu-7bi{
            font-size: 11px;
        }
        .title-1 button{
            font-size: 11px;
        }
        #update{
            display: none;
        }
        .title input{
            padding-left: 10px;
            color: black;
        }
        }
}