@media screen and (max-width: 505px){
.main-body{
padding-top: 45px;
padding-left: 20px;
}
.menu-3-1 p a{
    display: block;
    margin-left: 0;
    width: fit-content;
    margin-top: 3px;
    padding-bottom: 8px;
}
.menu-2btn{
    min-width: 90px;
    font-size: 9.5px;
}
.menu-2-head{
    font-size: 12px;
}
.menu-2-p{
    font-size: 10px;
}
.menu-3 h1{
    font-size: 20px;
}
.menu-3-1{
    font-size: 10px;
}
.menu-4{
    font-size: 10px;
    padding-left: 9px;
}
.element{
    width: 64px;
    height: 64px;
}
.menu-4a p{
    padding-left: 5px;
    font-size: 9.5px;
}
.menu-4-link li{
    font-size: 9.5px;
    padding-left: 5px;
}
.menu-5a h3{
    font-size: 13px;
}
.menu-5a p{
    font-size: 10px;
}
.m-span-1{
    font-size: 10px;
}
.m-span-2{
    font-size: 10px;
}
.menu-img{
    width: 80px;
    height: 80px;
}
.menu-6a{
    padding-left: 1px;
}
.menu-6{
    font-size: 9.5px;
}
.m-span-6{
    font-size: 9.5px;
}
.menu-7{
    display: block;
}
.menu-7a{
    width: 100%;
}
.menu-7b{
    width: 100%;
    margin-top: 20px;
}
.p-list-7{
    font-size: 10px;
}
.menu-7f-list li a{
    font-size: 11px;
}
.menu-7-p{
    font-size: 10px;
}
.span-7 a{
    font-size: 10px;
}
.menu-7-list{
    font-size: 10px;
}
.new{
    font-size: 11px;
}
.menu-7bi{
    font-size: 11px;
}
.title-1 button{
    font-size: 11px;
}
}